<!DOCTYPE html>
{% extends 'guestindex.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="hero-wrap hero-bread" style="background-image: url('{% static 'Guest/images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p>
            <h1 class="mb-0 bread">Product Single</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="{{ Prod.Prod_Image.url }}" class="image-popup"><img src="{{ Prod.Prod_Image.url }}" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{Prod.Prod_Name}}</h3>
    				<div class="rating d-flex">
							<p class="text-left mr-4">
								<a href="#" class="mr-2">5.0</a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
							</p>
							<p class="text-left mr-4">
								<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
							</p>
							<p class="text-left">
								<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
							</p>
					</div>
    				<p class="price"><span>₹ {{ Prod.Price }}.00</span></p>
					<input type="hidden" name="price" id="price" value="{{ Prod.Price }}">
    				<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until.</p>
						<div class="row mt-4">
							<div class="col-md-6">


								<h5>Qty</h5>
								<div class="button-container">
									<select name="quantity" id="quantity" style="height:35px; width:170px; border:1px solid black; border-radius:5px; padding-left:10px; padding-right:10px; font-weight:bold; font-size:18px;">
										<option value="100">100 gram</option>
										<option value="200">200 gram</option>
										<option value="300">300 gram</option>
										<option value="400">400 gram</option>
										<option value="500">500 gram</option>
										<option value="1000">1000 gram</option>
									</select>
								</div>
								<div>
									<h5>Total Price</h5>
									<div class="button-container">
										<input readonly type="text" name="totalprice" id="totalprice" value="12"  style="height:35px; width:170px; border:1px solid black; font-weight:bold; font-size:18px; border-radius:5px; padding-left:10px;">
									</div>
								</div>

								<br>

									<div class="w-100"></div>
										<div class="col-md-12">
											<p style="color: #000; color:red;">Available In Stock</p>
										</div>
									</div>
								</div>
							<form action="your_action_url" method="post">
								<button  type="submit" style="background-color: black !important; font-weight: 600; font-size: 19px; border-radius: 19px; height: 50px !important; padding: 10px; padding-top: 10px !important; color:white !important;" class="btn py-3 px-5 ">Add to Cart</button>
							</form>
    						</div>
    					</div>
    			</div>

    </section>

    <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Products</span>
            <h2 class="mb-4">Similar Products</h2>
            <p>In {{ Prod.Cat_Name }}</p>
          </div>
        </div>
    	</div>
    	<div class="container">
    		<div class="row">
				{% for i in SP %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="{% url 'GuestApp:detailedview' i.id %}" class="img-prod"><img class="img-fluid" src="{{ i.Prod_Image.url }}" alt="Colorlib Template">
    						<span class="status">30%</span>
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="{% url 'GuestApp:detailedview' i.id %}">{{ i.Prod_Name }}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">₹ {{ i.Price }}.00</span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			{% endfor %}
    		</div>
    	</div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#quantity').change(function(){
            x=document.getElementById('quantity').value;
            y=document.getElementById('price').value;
            z=y/1000;
			result=z*x;
            document.getElementById('totalprice').value=result;
        })
    })
</script>
</html>
{% endblock content %}