<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Product Entry</h4>
                  <p class="card-description">
                    Add Product Details
                  </p>

                  <form method="post" action="{% url 'AdminApp:Updateprod' Prod.id %}" enctype="multipart/form-data" class="forms-sample" >
                      {% csrf_token %}

                    <div class="form-group">
                      <label for="examplecatname">Category Name</label>
                      <select class="form-control" name="catname"  id="examplecatname" placeholder="Category Name">>
                          <option value="{{Prod.Cat_Name}}" disabled selected>{{Prod.Cat_Name}}</option>
                          {% for i in Cat %}
                          <option value="{{ i.Cat_Name}}">{{ i.Cat_Name }}</option>
                          {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="exampleprodname">Product Name</label>
                      <input type="text" class="form-control" name="prodname" id="exampleprodname" value="{{Prod.Prod_Name}}" placeholder="Product Name">
                    </div>

                    <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" name="proddesc" id="exampleTextarea1" placeholder="Product Description"  rows="4">{{Prod.Prod_Desc}}</textarea>
                    </div>

                    <div class="form-group">
                      <label for="exampleitemprice"> Item Price </label>
                      <input type="number" class="form-control" name="price" id="exampleitemprice" value="{{Prod.Price}}" placeholder=" Product Price">
                    </div>

                    <div class="form-group">
                      <label for="categoryimage">Current Product Image</label> <br>
                      <img src="{{Prod.Prod_Image.url}}" alt="" id="categoryimage" srcset="" width="300px" height="190px">
                    </div>

                    <div class="form-group">
                        <label>New Product Image upload</label>
                        <input type="file" name="prodimg" class="file-upload-default" id="image-upload">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info"  disabled placeholder="Upload Image" id="image-file-name" >
                            <span class="input-group-append">
                                <button type="button"  onclick="selectImage()" class="btn btn-danger btn-icon-text"><i class="ti-upload btn-icon-prepend"></i>Upload</button>
                            </span>
                        </div>
                    </div>

                   <button type="submit" class="btn btn-outline-primary btn-icon-text"><i class="ti-file btn-icon-prepend"></i>Submit</button>
                    <button type="reset" class="btn btn-outline-warning btn-icon-text"><i class="ti-reload btn-icon-prepend"></i>Clear</button>
                  </form>
                </div>
              </div>
            </div>
</body>

</html>
<script>
function selectImage() {
  // Trigger the file input click event
  document.getElementById('image-upload').click();
}

// Update the file name input when a file is selected
document.getElementById('image-upload').addEventListener('change', function() {
  const fileInput = this;
  const fileNameInput = document.getElementById('image-file-name');

  if (fileInput.files.length > 0) {
    fileNameInput.value = fileInput.files[0].name;
  } else {
    fileNameInput.value = "Upload Image";
  }
});
</script>
{% endblock content %}
